<footer class="footer">
  <small>
    THE GOSSIP PROJECT
    by <a href="https://nicolashov.github.io/">Nicolas Hovart</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
